
<!DOCTYPE html>
<html>

<body class="centered">

<img src="/images/muffins.jpg" alt="Muffins">
<br/>
<h2>Secret muffin recipe</h2>
<div>1 and 3/4 cups (219g) all-purpose flour</div>
<div>1 teaspoon baking powder</div>
<div>1 teaspoon baking soda</div>
<div>1/2 teaspoon salt</div>
<div>1/2 teaspoon ground cinnamon</div>
<div>1/2 cup (115g or 1 stick) unsalted butter</div>
<div>3/4 cup (150g) packed light brown sugar</div>
<div>2 large eggs, at room temperature</div>
<div>1/2 cup (120g) sour cream or plain yogurt, at room temperature</div>
<div>1/2 cup (120g) sour cream or plain yogurt, at room temperature</div>
<div>1 and 1/2 teaspoons pure vanilla extract</div>
<div>1/4 cup (60ml) milk (any kind), at room temperature</div>

<form method="get" action="/brokenAccess" class="main-button">
   <button type="submit" class="button">Back</button>
</form> 

</body>

</html>