<!DOCTYPE html>
<html>

<head>
    <title>Broken access</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Sven Balint" />
    <link rel="stylesheet" href="./styles/main.css">
</head>
<body>
   <div class="header">
      <form method="get" action="/logout" class="main-button">
         <button type="submit" class="button login-buttons">Odjava</button>
      </form>
      <h1>Broken Access</h1>
      <div>
         <h3>Dok je aplikacija nezaštićena, "tajnoj" admin stranici se pristup gleda pute query-a u adresi.</h3>
         <h3>Tada je kao napadaču moguća promijena usera iz "user" u "admin" kako bi joj se pristupilo.</h3>
         <h3>A dok je stranica zaštićena user se provjerava na backendu uz pomoć auth0 podataka i time utvrđuje vjerodostojnost.</h3>
         <h3>Ne prijavljenom korisniku nije ni moguć pristup Broken Access stranici, ali ako unese adresu nezaštićene stranice može ju vidjeti.</h3>
         <h3>Razlikuju se dvije različite stranice, adminPage i adminPageProtected i ovisno o tome što je označeno u checkboxu</h3>
         <h3>korisnika se vodi određenu stranicu</h3>
     </div>
      <form method="get" action="/" class="main-button">
         <button type="submit" class="button">Home</button>
      </form>
      <h2></h2>
      <div>
         <input type="checkbox" id="switch2" name ="" onclick="turnItOn2()">
         <p id="message2">Unprotected</p>
      </div>
      <div>
         
         <% if (data.email == "naprwebadmin123@nrppw.hr") { %>
            <a id ="link-button" href="/brokenaccess/adminpage?user=admin" ><button type="submit" class="button">Admin Page</button></a>  
         <% } else { %>
            <a id = "link-button-user" href="/brokenaccess/adminpage?user=user" ><button type="submit" class="button">Admin Page</button></a>   

         <% } %>
      </div>
      <h2></h2>
      <div class="profile-display">
         <ul>
            <% if (data.email == "naprwebadmin123@nrppw.hr") { %>
               <li>Uloga: Admin</li>
            <% } else { %>
               <li>Uloga: Korisnik</li>
            <% } %>
            <li>E-mail: <%= data.email %></li>
         </ul>
     </div>
   </div>

   <script src="./scripts/main.js"></script>
</body>
</html>