<!DOCTYPE html>
<html>

<head>
    <title>Premijer liga 22/23</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Sven Balint" />
    <link rel="stylesheet" href="./styles/main.css">
</head>
<body>
   <div class="header">
      <form method="get" action="/logout" class="main-button">
         <button type="submit" class="button login-buttons">Odjava</button>
      </form>
      <h1>Broken Access</h1>
      <form method="get" action="/" class="main-button">
         <button type="submit" class="button">Home</button>
      </form>
      <h2></h2>
      <div>
         <input type="checkbox" id="switch2" name ="" onclick="turnItOn2()">
         <p id="message2">Unprotected</p>
      </div>
      <div>
         
         <% if (data.email == "naprwebadmin123@nrppw.hr") { %>
            <a href="/brokenaccess/adminpage?user=admin"><button type="submit" class="button">Admin Page</button></a>  
         <% } else { %>
            <a href="/brokenaccess/adminpage?user=user"><button type="submit" class="button">Admin Page</button></a>   

         <% } %>
      </div>
      <h2></h2>
      <div class="profile-display">
         <ul>
            <% if (data.email == "naprwebadmin123@nrppw.hr") { %>
               <li>Uloga: Admin</li>
            <% } else { %>
               <li>Uloga: Korisnik</li>
            <% } %>
            <li>E-mail: <%= data.email %></li>
         </ul>
     </div>
   </div>

   <script src="./scripts/main.js"></script>
   <script src="./routes/adminPage.routes.js"></script>
</body>
</html>