<!DOCTYPE html>
<html>

<head>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Sven Balint" />
    <link rel="stylesheet" href="./styles/main.css">
</head>

<body class="centered">

    <div class="header">
        <h1>SQL Injection</h1>
        <form method="get" action="/" class="main-button">
            <button type="submit" class="button">Home</button>
        </form>
        <h2></h2>
        <div>
        <form method="get" action="/brokenaccess" class="main-button">
            <button type="submit" class="button">Broken Access</button>
        </form>
        </div>
    </div>

    <div>
        <h3>Upisom ID-a usera ispisuju se username i e-mail korisnika.</h3>
        <h3>Moguće je testiranje pomoću naredbi npr. "1 OR 0 = 0" kako bi se dobili svi korisnici</h3>
        <h3>ili "1 UNION SELECT username, password FROM users" kako bi se dobile zaporke korisnika</h3>
        <h3>(Dostupni ID-ovi su od 1 do 4)</h3>
    </div>

    <div>
        <input type="checkbox" id="switch1" onclick="turnItOn()">
        <p id="message">Unprotected</p>
    </div>
    <div>
        <input type="text" class="searchbar-broj" id="pretraga" placeholder="ID...">
        <button type="submit" class="button" onclick=funPretraga()>Get</button>
    </div>

    <br>
    <div id="myData1"></div>
    <div id="myData2"></div>
    <div id="myData3"></div>
    <div id="myData4"></div>
    <div id="myData5"></div>
    <div id="myData6"></div>
    </br>
    <script src="./scripts/main.js"></script>
    
</body>

</html>